.top-grid {
    /* border: 1px solid gray; */
    height:300px;
    width: 300px;
    margin-bottom: 25px;
}
.bottom-grid {
    border: 1px solid gray;
    height:300px;
    width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    height: 18px;
    width: 18px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.col {
    height: 18px;
    width: 18px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.col:hover {
    background: lightgray;
}